body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   height: 100%;}

.logo{
width: 17%;
transform:translate(0px,10px);
}


.navbar {
  overflow: hidden;
  background-color: white;
  height: 10%;
}

.navbar a {
  float: right;
  color: #979797;
  text-align: center;
  margin-top: 5px;
  padding:10px 15px;
  text-decoration: none;
  font-size: 20px;

}

.box{
  height: 90%;
  border-style: solid;
  border-color: #1089FF;
  margin-top:5%;
  margin-left:2%;
  margin-right:2%;
  margin-bottom:5%;
  font-weight: bold;
}

.box h1{
  color: #394A6D;
  text-align: center;
}

.inputan{
  position: relative;
  left: 33%;
  width:20%;
  height:50px; 
  border-style: solid;
  border-radius: 18px;
  margin-bottom: 2%;
  border-color:#1089FF;
}

.jawab{
  position: relative;
  left: 40%;
  width:20%;
  height:100px; 
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 2%;
  border-color:#1089FF;
}



.box label{
  position: absolute;
  left:5%;
  color: #394A6D;
  font-size: 20px;
  margin-bottom: 2%;
}


.Content{
  position: relative;
  left: 2%;
  width:95.5%;
  height:300px; 
  margin-bottom: 30px;
  border-style: solid;
  border-color: #FF10A7;
}

.navbar a:hover {
  color: black;
}

.submit{
position: relative;
height:50px; 
width:100px;
left:50%;
background: #52DE97;
border-radius:15px;
font-weight: bold;
}