body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: white;
  height: 10%;
  width: 100%;
}

.logo{
width: 17%;
transform:translate(0px,10px);
}


.main p{
  position:absolute;
  left:50%;
  top:10%;
  font-size: 40px;
}

.main h3{
  position:absolute;
  top:48%;
  left:49%;
}

.UN{
  position:absolute;
  top:40%;
  left:43%;  
  width:20%;
  height:5%;
  border-radius: 25px;
  border-color: #1089FF;
  border-style: solid;
  text-align: center;
}

.UI{
  position:absolute;
  top:30%;
  left:43%;  
  width:20%;
  height:5%;
  border-radius: 25px;
  border-color: #1089FF;
  border-style: solid;
  text-align:center;
}

.cb{
  position:absolute;
  top:50%;
  left:45%;
  width: 3.7%;
  height:3.7%;
  border-radius: 25px;
  border-color: #1089FF;
}

.tombol1{
  background: #52DE97;
  color: white;
  font-size: 15px;
  width: 10%;
  position: absolute;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
  padding: 10px 20px;
  top:60%;
  left: 46%;
  text-decoration: none;
  text-align: center;
}

.tombol2{
  background: #979797;
  color: white;
  font-size: 15px;
  width: 10%;
  position: absolute;
  border-radius: 15px;
  border-style: none;
  font-weight: bold;
  padding: 10px 20px;
  top:70%;
  left: 46%;
  text-decoration: none;
  text-align: center;
}