body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
   }

.logo{
width: 17%;
transform:translate(0px,10px);
}

.profil{
height:3%;
width: 3%;
transform:translate(0px,-7px);
}

.tengah{
 height: 90%; 
}


.pilihan1{
  width: 1.5% ;
  height: 1.5%;
  border-radius: 25px;
}

.pilihan2{
  width: 1.5% ;
  height: 1.5%;
  border-radius: 25px;
}

.header {
  font-size:50px;
  color:#394A6D;
}

.div {padding-left:16px;

}

.navbar {
  overflow: hidden;
  background-color: white;
  height: 10%;
}

.navbar a {
   float: right;
  color: #979797;
  text-align: center;
  margin-top: 5px;
  padding:10px 15px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: black;
}



.blok{
  background-color: #52DE97;
  width: 400px;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  border-radius: 25px;
  padding: 10px 10px;
}

 .kotak{
  position: absolute;
  top: 30%;
  left:8%;
	width: 1200px;
	background: #C0FFB3;
	color:black;
	position:absolute;
	padding: 10px 10px;
	font-size:20px;
}
.header {
	font-size:50px;
	color:#394A6D;
}

.pop1{
position:fixed;
background-color:black;
top: 0;
left: 0;
width: 100%;
height: 100%; 
display: none;
}

.isi{
position: absolute;
top:10%;
left:20%;
background:#52DE97;
border-radius: 20px;
padding: 10px 10px;
font-size: 20px;
width: 60%;
}

.isi h2{
 text-align: center;
}

.isi img{
transform: translate(50%,0);
width:50%;
height: 50%; 
}

.pop2{
position: fixed;
background-color: black;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
}

.isi2{
position: absolute;
top:10%;
left:20%;
background:#52DE97;
border-radius: 20px;
padding: 10px 10px;
font-size: 20px;
width: 60%;
}

.isi2 h2{
text-align: center;
}


.isi2 img{
transform: translate(50%,0);
width:50%;
height: 50%; 
}

.exit{
  transform: translate(95%,0);
  font-size: 20px;
}


.side{
transform: translate(0px,-134px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 67px;
  left: 0;
  background-color: #B8DCFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav li{
left:8px;
}

.sidenav a {
  padding: 8px px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #060606  ;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.akhiran {
  transform: translate(0,150%);
  width: 100%;
  height: 60%;
  color: white;
  background-color: black;
  text-align: center;
  position:absolute;
  
}

