body{
  margin:0;
  padding : 0;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  display: block;
  color: gray;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li b {
  display: block;
  font-size: 35px;
  color: #3C9D9B;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}


li c {
  display: block;
  font-size: 35px;
  color: #52DE97;
  text-align: left;
  text-decoration: none;
  padding: 20px 0px;
}

li a:hover:not(.active) {
  color: #52DE97;
}

label:hover:not(.active) {
  color: #979797;
}

.active{
 color: #52DE97; 
}

li img{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
}


div d img{
  height: 632px;
  width: 784px;
  position: relative;

}

div e img{
  height: 290px;
  width: 1000px;
  margin-top:100px;
  top:0px;
}

div f{
  width :750px;
  height: 300px;
  position: absolute;
  top : 100px;
  left : 100px;
  right:300px;
  color: #000000;
  font-size: 80px;
}

.awalan{
  position: relative;
}

div g img{
  position: static;
  width: 300px;
  height: 300px;
  margin-top:500px;
  margin-left: 100px;
  margin-right: 50px;
}

div i img{
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 500px;
  margin-left: 650px;
  margin-right: 100px; 
}

div k{
  position: absolute;
  font-size: 100px;
  color: #52DE97;
  margin-top:1100px;
  margin-left: 550px;
  margin-right: 0px; 
}

div j{
  float: left;
  position: absolute;
  font-size: 100px;
  color: #52DE97;
  margin-top:900px;
  margin-left: 10px;
  margin-right: 0px;  
}

div l{
  font-size: 100px;
  color: #52DE97;
  margin-top:700px;
  margin-left: 300px;
  margin-right: 0px;  
}

div m{
  font-size: 50px;
  color: #394A6D;
  margin-top:700px;
  margin-left: 100px;
  margin-right: 110px;
}

div n{
  font-size: 100px;
  color: #394A6D;
  text-align: center;
  margin-left: 750px;
}

div o{
  font-size: 50px;
  color: #394A6D;
  text-align: center;
  margin-left: 700px;
}

div q img{
  width: 512px;
  height: 512px;
}

div x img{
  margin-top: 50px;
  width: 512px;
  height: 512px; 
}

div y img{
  width: 512px;
  height: 512px;
}

div r{
  float: right;
  font-size: 45px;
  color: #394A6D;
  margin-right: 100px; 
}

div aa{
  float: right;
  width: 900px;
  height: 300px;
  float: right;
  font-size: 30px;
  color: #394A6D;  
}

div t{
  margin-top: 150px;
  float: left;
  font-size: 45px;
  color: #394A6D;
  margin-left: : 100px; 
}

div z{
  margin-top: 50px;
  float: left;
  width: 900px;
  height: 300px;
  float: right;
  font-size: 30px;
  color: #394A6D;  
}

div v{
  float: right;
  font-size: 45px;
  color: #394A6D;
  margin-right: 100px; 
}

div w{
  margin-top: 50px;
  float: right;
  width: 900px;
  height: 300px;
  float: right;
  font-size: 30px;
  color: #394A6D;
  margin-right: 100px;   
}