body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   height: 100%;}
.main{
  height: 90%;
} 

.main h1{
position: absolute;
color: #394A6D; 
font-size: 60px;
top:955px;
left:600px
}

.main h2{
position: absolute;
color:#394A6D;
font-size: 40px;
top:1055px;
left:500px
}

.desk1{
position: absolute;
font-size:40px;
top:755px;
left:200px;
}

.desk2{
position:absolute; 
font-size:30px;
top:770px;
left:550px;
}

.desk3{
position: absolute;
font-size:30px;
top:770px;
left:1000px;
}

.motto{
position:absolute;
top:200px;
left:200px;
}

.st1 p{
position: absolute;   
color: #52DE97;
font-size: 50px;
top:680px;
left:200px;
}

.st1 img{
position:absolute;
top:700px;
width:100px;
height:100px;
left:100px;
}

.st2 p{
position:absolute; 
color: #52DE97;
font-size:70px;
top:640px;
width:100px;
height:100px;
left:650px;
}

.st2 img{
position:absolute;
top:700px;
width:100px;
height:100px;
left:550px;
}

.st3 p{
position:absolute;
color: #52DE97;
font-size:70px;
top:640px;
left:1100px;
}

.st3 img{
position:absolute;
top:700px;
width:100px;
height:100px;  
left:1000px;
}


.st4 img{
position: absolute;  
top: 180%;
left: 5%;
height:40%; 
width:20%;
}

.st4 h1{
position: absolute;
font-size: 50px;
color: #394A6D;
top: 180%;
left: 30%;
}

.st4 p{
position: absolute;
font-size: 25px;
color: #394A6D;
top: 190%;
left: 32%;
}


.st5 img{
position: absolute;  
top: 300%;
left: 5%;
height:40%; 
width:20%;

}

.st5 p{
  position: absolute;
font-size:25px;
color: #394A6D;
top: 260%;
left:15%;
}

.st5 h1{
position: absolute;
font-size:50px;
color: #394A6D;
top: 250%;
left:15%;
}

.st6 img{
position: absolute;
top: 250%;
left: 80%;
height:40%; 
width:20%;

}

.st6 p{
  position: absolute;
 font-size:25px;
color: #394A6D;
top:320%; 
left:30%;
}

.st6 h1{
  position: absolute;
font-size:50px;
color: #394A6D;
top: 300%;
left: 30%;
}

.gmbr1{
width:40%;
height:60%;  
position: absolute;
top:200px;
left:800px;
right:100px;
}

.logo{
width: 17%;
transform:translate(0px,10px);
}

.profil{
height:3%;
width: 3%;
transform:translate(0px,-7px);
}

.pilihan{
  width: 1.5% ;
  height: 1.5%;
  border-radius: 25px;
}

 .kotak{
  width: 1200px;
  background: #C0FFB3;
  color:black;
  position:absolute;
  transform: translate(100px,50px);
  padding:10px 10px;
  font-size:20px;
}
.header {
  font-size:50px;
  color:#394A6D;
}

.navbar {
  overflow: hidden;
  background-color: white;
  height: 10%;
}

.navbar a {
  float: right;
  color: #979797;
  text-align: center;
  margin-top: 5px;
  padding-top:15px;
  padding-left:15px ;
  padding-right:15px;
  padding-bottom:15px ;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.navbar a:hover {
  color: green;
}