body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: white;
  height: 10%;
}

.navbar a {
  float: right;
  color: #979797;
  text-align: center;
  margin-top: 5px;
  padding:10px 15px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color:black;
}

.logo{
width: 17%;
transform:translate(0px,10px);
}

.main a{
position: absolute;
text-decoration:none; 
font-size:50px;
font-weight:bold;
color:#394A6D;
top:70%;
left:15%;
}

.kotak1 {
position: absolute; 
 border-style: solid;
 border-color: #FF10A7;
 color :#DE5252; 
 height:65%;
 width :25%; 
 left  :5%;
 top   :15%;
 font-size: 10px;
}

.kotak1 ul li{
  list-style: none;
}

.kotak2 ul li{
  list-style: none;
}

.kotak1 img{
  position: relative;
  transform: translate(10%,80%);
  margin-bottom:5%; 
  border-style: double;
  border-color: #707070;
  width: 10%;
  height: 10%;
}


.kotak2{
 position: absolute; 
 border-style: solid;
 border-color: #FF10A7;
 color : #DE5252; 
 list-style: none;
 height:80%;
 width :90%; 
 left  :5%;
 top   :90%;
 font-size: 20px;
}

.kotak2 img{
 position: relative;
  transform: translate(30%,50%);
  margin-bottom:2%;
  border-style: double;
  border-color: #707070;
  width: 5%;
  height: 5%; 
}

.kotak2 label{
  position:relative;
  top:20%;
  left:5%;
}

.kotak1 label{
   position:relative;
  top:5%;
  left:5%;
}

.inputan{
  position: absolute;
  top:90%;
  left:0%;
  width: 100%;
  height: 10%;
  border-style: solid;
  border-color: #FF10A7;
 }

 .panah{
  position: absolute;
  border-style: none;
  top:1150px;
  left:1200px;
  width: 5%;
  height: 5%;
 }

 .video{
  position: absolute;
  top:15%;
  left:35%;
  width:60%;
  height:65%;
 }