body{
  margin:0;
  padding : 0;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  display: block;
  color: gray;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li b {
  display: block;
  font-size: 35px;
  color: #3C9D9B;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}


li c {
  display: block;
  font-size: 35px;
  color: #52DE97;
  text-align: left;
  text-decoration: none;
  padding: 20px 0px;
}

li a:hover:not(.active) {
  color: #52DE97;
}

label:hover:not(.active) {
  color: #979797;
}

.active{
 color: #52DE97; 
}

.flex-container1{
  background-color:#D9EEEC;
  margin-left: 100px; 
  margin-top: -600px;
  margin-bottom: 100px; 
  margin-right: 500px;
  width : 500px; 
  height: 500px;
  float: right;

}

.flex-container2{
  background-color:#F7E8F6;
  margin-left: 100px; 
  margin-top: 100px;
  margin-bottom: 100px; 
  margin-right: 200px;
  width : 500px; 
  height: 500px;
}

.flex-container3{
  background-color:#D1EECC;
  margin-left: 100px; 
  margin-top: 100px;
  margin-bottom: 100px; 
  margin-right: 100px;
  width : 500px; 
  height: 500px;
}


.flex-container4{
  background-color:#D2FAFB;
  margin-left: 100px; 
  margin-top: -600px;
  margin-bottom: 100px; 
  margin-right: 500px;
  width : 500px; 
  height: 500px;
  float: right;
}

a1{
  font-size: 40px;
  font-color:#394A6D;
}

a{
  font-size: 25px;
  font-color:#1089FF;
}

img{
    position: relative;
    z-index: 1;
    top: 0px;
}

e{
    margin-left:1000px 
    margin-right:0px
    margin-bottom:100px;
    margin-top:200px;
    position: absolute;
    top: 20px;
    z-index: 2;
    color: #FFFFFF;
    font-size: 50px;
}
li img{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
}






