body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
   }

.logo{
width: 17%;
transform:translate(0px,10px);
}

.profil{
height:3%;
width: 3%;
transform:translate(0px,-7px);
}


 .kotak1{
  width: 250px;
  color:black;
  position:absolute;
  padding: 5px 5px;
  font-size:20px;
  border-style: groove;
  transform:translate(100px,150px);
}

 .kotak2{
  width: 300px;
  color:black;
  position:absolute;
  padding: 5px 5px;
  font-size:20px;
  border-style: groove;
  transform:translate(500px,100px);
}

 .kotak3{
  width: 250px;
  color:black;
  position:absolute;
  padding: 5px 5px;
  font-size:20px;
  border-style: groove;
  transform:translate(1000px,150px);
}

.form{
  box-sizing : border-box;
  width: 70%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

.tombol1{
  background: #3C9D9B;
  color: white;
  font-size: 15px;
  width: 30%;
  border: none;
  position: relative;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 25px; 
  margin-left: 100px;
}

.pilihan{
  width: 1.5% ;
  height: 1.5%;
  border-radius: 25px;
}


.header {
  font-size:50px;
  color:#394A6D;
  text-align: center;
}

.div {
  padding-left:12px;
}

.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: right;
  font-weight: bold;
  color: #979797;
  text-align: center;
  margin-top: 5px;
  padding-top:15px;
  padding-left:30px ;
  padding-right:15px;
  padding-bottom:-10px ;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: #52DE97;
}
