body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
   }

.logo{
height:20%;
width: 20%
}

.pilihan{
  width: 1.5% ;
  height: 1.5%;
  border-radius: 25px;
}

 .kotak{
	width: 1200px;
	background: #C0FFB3;
	color:black;
	position:absolute;
	transform: translate(50px,50px);
	Padding: 10px 10px;
	font-size:20px;
}
.header {
	font-size:50px;
	color:#394A6D;
}

.div {padding-left:16px;

}

.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: right;
  color: #1134BE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
